PLATFORM_API_TOKEN=change-this-platform-token
PUBLIC_BASE_URL=https://panel.example.com
PLATFORM_DB_PATH=./data/platform.db

PVE_HOST=https://pve.example.com:8006
PVE_NODE=pve
PVE_VERIFY_SSL=true
PVE_API_TOKEN_ID=root@pam!platform
PVE_API_TOKEN_SECRET=change-this-pve-api-token-secret

PVE_DEFAULT_STORAGE=local-lvm
PVE_DEFAULT_BRIDGE=vmbr0
PVE_IMAGE_TEMPLATES={"debian-12":9000,"ubuntu-24.04":9001,"windows-2022":9002}
